<!DOCTYPE html>

<html>
    <head>
        <title>PyReads: Index</title>
    </head>
    <body>
        <h1>PyReads: Index</h1>
        <a href="/add">Add Book</a>
        <div>
            Page Count: {{ page_count }}
            Book Count: {{ books_count }}
        </div>
        {% for book in books %}
            <div>
                <h3><p>Title: {{ book.title }}</p></h3>
                <p>Author: {{ book.author }}</p>
                <p>Page Count: {{ book.page_count }}</p>
            </div>
        {% endfor %}
    </body>
</html>